<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      href="/public/css/BootStrap.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link href="/public/css/content.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="d-flex" style="height: 100%">
      <%- navbar %>

      <div class="flex-grow-1 p-3 text-white" style="margin-left: 280px">
        <div
          class="tab-pane fade show active"
          id="content-tab"
          role="tabpanel"
          aria-labelledby="content-tab"
        >
          <h1>Admin Panel</h1>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="news-tab"
                data-bs-toggle="tab"
                data-bs-target="#news"
                type="button"
                role="tab"
                aria-controls="news"
                aria-selected="true"
              >
                Admins
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="servers-tab"
                data-bs-toggle="tab"
                data-bs-target="#servers"
                type="button"
                role="tab"
                aria-controls="servers"
                aria-selected="false"
                disabled
              >
                Coming Soon
              </button>
            </li>
          </ul>

          <div class="tab-content mt-4" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="news"
              role="tabpanel"
              aria-labelledby="news-tab"
            >
              <% if(moderator) { %>
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
              >
                Add
              </button>
              <% } %>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Admin</td>
                    <td>
                      The Admin Account Is Forced (you cannot edit or delete
                      this)
                    </td>
                    <td>
                      <button
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        disabled
                      >
                        Edit
                      </button>
                    </td>
                  </tr>

                  <% AdminLists.forEach(function(adminInfo) { %>
                  <tr>
                    <td>
                      <%= adminInfo.UserData.Username %>
                    </td>
                    <% if(roleId == 1) { %>
                    <td>Moderators cannot 'add' / 'edit' users</td>
                    <% } else { %>
                    <td>N/A</td>
                    <% } %>
                    <td>
                      <% if(moderator) { %>

                      <button
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#editUserModal"
                        data-admin-info="<%= adminInfo.AccountId %>"
                        onclick="populateModalEditUserShow(this)"
                      >
                        Edit
                      </button>
                      <% } else { %>
                      <button
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#editUserModal"
                        disabled
                      >
                        Edit
                      </button>
                      <% } %>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>

              <% if(moderator) { %> <%- AddMod %> <%- EditMod %> <% } %>

              <div
                class="tab-pane fade"
                id="servers"
                role="tabpanel"
                aria-labelledby="servers-tab"
              >
                <h2>Server Management</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/addAccount.js"></script>

    <% if(moderator) { %>
    <script>
      // WONT SHOW IF YOU ARE NOT A MODERATOR (dont demote your self);

      /*  var TempData = "";
                function populateModalEditPanelSave() {
                    if (TempData != "") {
                        //populateModalEditPanelSave
                        var adminRadio = document.getElementById('AdminRadio1');
                        var moderatorRadio = document.getElementById('ModeratorRadio1');
                        //var editUsersBox = document.getElementById('editUsersEmail');

                        //TempData.profileCacheEntry.UserData.Email = editUsersBox.value

                        if (adminRadio.checked) {
                            TempData.adminInfo.Role = @AdminDashboardRoles.Admin;
                        }
                        else {
                            TempData.adminInfo.Role = @AdminDashboardRoles.Moderator;
                        }

                        $.ajax({
                            url: '/admin/dashboard/panel/user/edit',
                            type: 'POST',
                            contentType: 'application/json',
                            headers: {
                                'Authorization': getAuthToken()
                            },
                            data: JSON.stringify({ data: TempData }),
                            success: function (response) {
                                console.log("SAVING");
                                if (response === true) {
                                    location.reload();
                                } else {
                                    console.log("FALSE");
                                }
                            },
                            error: function () {
                                console.log("Error occurred while updating TempDataV2.");
                            }
                        });
                    }
                }

                function populateModalSave() {


                    //editDiscordId

                    indexIg = -1;


                    $.ajax({
                        url: '/admin/dashboard/panel/grant',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': getAuthToken()
                        },
                        data: JSON.stringify({ data: document.getElementById('editDiscordId').value }),
                        success: function (response) {
                            console.log("SAVING");
                            if (response === true) {
                                console.log("TRUE");
                            } else {
                                console.log("FALSE");
                            }
                        },
                        error: function () {
                            console.log("Error occurred while updating TempDataV2.");
                        }
                    });

                    document.getElementById('editDiscordId').value = "";


                }

                */
      
    </script>
    <script src="/public/js/editAccount.js"></script>
    <% } %>
    <script>
      function populateModalClose() {
        document.getElementById("editDiscordId").value = "";
      }

      function getAuthToken() {
        var authToken = null;
        document.cookie.split(";").forEach(function (cookie) {
          var parts = cookie.trim().split("=");
          if (parts[0] === "AuthToken") {
            authToken = parts[1] ? decodeURIComponent(parts[1]) : "";
            //l
          }
        });
        return authToken;
      }
    </script>
  </body>
</html>
