
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/public/css/BootStrap.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }

        body {
            width: auto;
            height: 100%;
            background: #2D3237;
        }
    </style>
</head>
<body>
    <div class="d-flex" style="height: 100%;">
        <%- navbar %>

        <div class="flex-grow-1 p-3 text-white"  style="margin-left: 280px;">
            
                <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-tab">
                    <h1>Dashboard</h1>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">People Connected</h5>
                                    <p class="card-text"><%= connectedPeople %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Forced Season: <%= ForcedSeason %></h5>
                                    <% if(ForcedSeason) { %>
                                       <p class="card-text">Forced Season: <%= SeasonForced %></p>
                                    <% } else { %> 
                                      <p class="card-text">Forced Season is recommended</p>
                                    <% } %> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
   
    <script src="/public/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
