<div>
  <h2>Cup Tab</h2>

  <div class="DivClassYKYK">
    <select style="padding: 5px; width: 180px; border-radius: 5px" 
    <% if(typeof CupData === 'undefined' || CupData == null) { %> 
        disabled
    <% }%>>
      <% if(typeof CupData === 'undefined' || CupData == null) { %>
      <option value="soon">NONE</option>
      <% } else { %> 
        <% CupData.forEach(function(singleItem, index2) { %>
        <option value="soon"><%= singleItem.ID %></option>
        <% }) %>
      <% } %>
    </select>
    <button
      class="ButtonColorType"
      style="padding: 5px; width: 70px; border-radius: 5px"
      onclick="showTempForm()"
    >
      New
    </button>
    <button
      class="ButtonColorType"
      style="padding: 5px; width: 70px; border-radius: 5px"
    >
      Delete
    </button>
  </div>
  <div>
    <button
      class="ButtonColorType"
      style="padding: 5px; width: 160px; border-radius: 5px"
    >
      Edit (isnt added yet)
    </button>
    <button
      class="ButtonColorType"
      style="padding: 5px; width: 70px; border-radius: 5px"
    >
      SOON
    </button>
  </div>
  <div style="display: flex; justify-content: space-between; padding: 10px">
    <div>
      <p>Note after a event data changed won’t removed players who played</p>

      <!--we only do this bc i dont want users creating the dashboard without actually putting the data first!-->
      <% if(typeof CupData === 'undefined' || CupData == null) { %>
      Create/Select a cup!!!! <% } else { %> Currently you cant edit the data but this is being worked on! + data isnt fully shown <% }%>
      <form id="CupID" style="display: none;">
        <h3 id="CreateTitle"></h3>
        <h5>Title</h5>
        <input id="text" class="AvgInputBox" name="title" value="<%= FoundCupJS ? FoundCupJS.title : '' %>" required />
        <h5>Description</h5>
        <input id="text" type="text" class="AvgInputBox" name="description" value="<%= FoundCupJS ? FoundCupJS.description : '' %>" required />
        <h5>When To Begin Event</h5>
        <input
          type="datetime-local"
          id="dateTime"
          class="AvgInputBox"
          name="StartTime"
          required
        />
        <h5>When To End Event</h5>
        <input
          type="datetime-local"
          id="whydoesntthiswork"
          class="AvgInputBox"
          name="EndTime"
          required
        />
        <h5>
          Note rn these items won't be granted after event, you will have to do
          it manually
        </h5>
        <h5>Item To Give</h5>
        <input
          id="ItemToGiveInput"
          class="AvgInputBox"
          placeholder="Enter the item to give (ID:ITEM)"
          value="Currency:MtxPurchased"
          name="GivenItem"
          required
        />
        <h5>The Amount</h5>
        <input
          id="AmountToGiveInput"
          class="AvgInputBox"
          type="number"
          min="1"
          placeholder="Enter the amount (1 for cosmetics)"
          value="1000"
          name="ItemQuantity"
          required
        />
        <h5>Givent Placement</h5>
        <input
          id="GivenPlacementInput"
          type="number"
          class="AvgInputBox"
          min="1"
          placeholder="top amount who receive item (eg 50)"
          value="50"
          name="CupPlacement"
          required
        />
        <br /><br />
        <button
          type="submit"
          class="ButtonColorType"
          id="SubmitID"
          style="padding: 5px; width: 70px; border-radius: 5px"
        >
          Save
        </button>
      </form>
    </div>

    <% if(typeof CupData !== 'undefined' && CupData != null) { %>
    <div
      id="DisplayItem"
      style="
        background-color: gray;
        width: 300px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        text-align: center;
        align-items: end;
        justify-content: center;
        align-self: center;
      "
    >
      <h1 style="text-align: center"><%= FoundCupJS.title %></h1>
    </div>
    <% } %>
  </div>
</div>
<div id="CupDataContainer" data-has-cup="<%= typeof CupData !== 'undefined' && CupData != null %>"></div>
<script>
  const CreateTitle = document.getElementById("CreateTitle");
  const DisplayItem = document.getElementById("DisplayItem");
  const dateTimeInput = document.getElementById("dateTime");
  const frfrfr = document.getElementById("whydoesntthiswork");
  const SubmitID = document.getElementById("SubmitID"); // just to change the fliping name

  const CupID = document.getElementById("CupID");

  function IGyatToTellYou() {
    SubmitID.addEventListener("click", async (e) => {
    if (CupID.checkValidity()) {
      e.preventDefault();

      const formData = new FormData(CupID);
      // if it wroks it works
      const formDataObj = {};
      formData.forEach((value, key) => {
        formDataObj[key] = value;
      });
      console.log("ggs");

      const response = await fetch(
        `<%= process.env.URL %>/admin/new/dashboard/content/cups/create`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "include",
          body: JSON.stringify(formDataObj),
        }
      );

      if (response.ok) {
        const data = await response.json();
        console.log("why fnaf:", data);
        window.location.reload(); // ahhh
      } else {
        console.log("erorrooro!!"); // error message or smyth/!?!?!!!!!!
      }
    } else {
      //e.prevent will be used instead of thjis for now
      // need to add a error message or smth?!?!!
    }
  });
  }

  const cupDataContainer = document.getElementById("CupDataContainer");
  const hasCupData = cupDataContainer.getAttribute("data-has-cup") === "true";
  if (hasCupData) {
    CupID.style.display = "block";
  }else {
     //CupID
     IGyatToTellYou();
  }
  // why did fa-
  function showTempForm() {
    CupID.style.display = "block";
    SubmitID.innerText = "Create";
    if(DisplayItem) {
        DisplayItem.style.display = "none"
    }

    IGyatToTellYou();
    const inputBoxes = CupID.querySelectorAll("input");
    inputBoxes.forEach(input => {
      input.value = ""; 
    });

    const now = new Date();

    now.setHours(now.getHours() + 1);
    dateTimeInput.value = now.toISOString().slice(0, 16);
    now.setHours(now.getHours() + 3); // cup lasts like 3 hours trol
    frfrfr.value = now.toISOString().slice(0, 16);

    const ItemToGiveInput = document.getElementById("ItemToGiveInput");
    ItemToGiveInput.value = "Currency:MtxPurchased"

    const AmountToGiveInput = document.getElementById("AmountToGiveInput");
    AmountToGiveInput.value = "1000"

    const GivenPlacementInput = document.getElementById("GivenPlacementInput");
    GivenPlacementInput.value = "50"

    CreateTitle.innerText = "You are currently creating a cup"
    //ItemToGiveInput
  }
 
</script>
