<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'news' ? 'ButtonColorType' : '' %>"
      id="news-tab"
      aria-selected="<%= activeTab === 'news' ? 'true' : '' %>"
      href="/dashboard/content/news"
    >
      News Updates
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'server' ? 'ButtonColorType' : '' %>"
      id="servers-tab"
      aria-selected="<%= activeTab === 'server' ? 'true' : '' %>"
      href="/dashboard/content/server"
    >
      Server Management
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'ini' ? 'ButtonColorType' : '' %>"
      id="inimanagement-tab"
      aria-selected="<%= activeTab === 'ini' ? 'true' : '' %>"
      href="/dashboard/content/ini"
    >
      INI Management
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'tournaments' ? 'ButtonColorType' : '' %>"
      id="tournamentsmanagement-tab"
      aria-selected="<%= activeTab === 'tournaments' ? 'true' : '' %>"
      href="/dashboard/content/tournaments"
    >
      Tournaments 
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link <%= activeTab === 'shop' ? 'ButtonColorType' : '' %>"
      id="shop-tab"
      role="tab"
      aria-selected="<%= activeTab === 'shop' ? 'true' : '' %>"
      href="/dashboard/content/shop"
    >
      Shop Configuration
  </a>
  </li>
</ul>
